div {
    width: 100%;
    margin-left: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

h2 {
    margin-left: 10px;
}

div2 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ddd;
}

form {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    text-align: left;
    padding: 10px;
}

table th {
    background-color: #333;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

a {
    color: #3333CC;
    font-weight: bold;
    font-size: 16px;
}

p {
    margin-left: 10px;
}

h3 {
    margin-left: 10px;
}

